[submodule "deps/breakpad.git"]
	path = deps/breakpad.git
	url = https://github.com/google/breakpad.git
[submodule "deps/linux_syscall.git"]
	path = deps/linux_syscall.git
	url = https://chromium.googlesource.com/linux-syscall-support
